.featured-post {
  @apply h-96;
}
.overlay {
  @apply flex items-center justify-center h-full py-12 bg-white opacity-80;

  .title {
    @apply my-4 text-4xl drop-shadow-sm;
  }
}
.bgWrap {
  position: absolute;
  @apply h-96;
  width: 100vw;
  overflow: hidden;
}
.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}
